<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Add a Trip</h2>
    <a href="/logout">Get outta 'ere</a>
    <a href="/home">ET PHONE HOME</a>

    <form id = 'travels' action="/travels/add" method = 'post'>
        {% csrf_token %}
        Destination:<input type="text" name = "dest"> <br><br>
        Description:<input type="text" name = "desc"> <br><br>
        Travel Date From:<input type="date" name = "fromdate"> <br><br>
        Travel Date To:<input type="date" name = "todate"> <br><br>
        <input type="hidden" name = 'user_id' value ={{users.id}}>
        <input type="submit" value= 'About dang time'>
    </form>
</body>
</html>